@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "style/footer.css";
@import "style/reset.css";
@import "style/header.css";
@import "style/index.css";
@import "style/about.css";
@import "style/circle.css";
@import "style/project_page.css";
@import "splide-2.4.21/dist/css/splide-core.min.css";