#logo_anim_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;


}

.animation {
    animation: smooth linear 0.2s;
}

@keyframes smooth {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }

}

#logo {
    position: relative;
    width: 180px;
    height: 128px;

    left: 82px;
    background-color: darkblue;
}


header {
    position: relative;
    top: 80px;
    width: 100vw;
    display: inline-flex;
}

nav {
    position: relative;
    float: right;
    height: fit-content;
    top: 54px;
    margin-left: auto;
    margin-right: 0;
}

.nav-item {
    display: inline-block;

    font-family: commuters-sans, sans-serif;
    font-style: normal;
    font-size: 21px;
}

#about {
    margin-right: 69px;
    margin-left: 41px;
}