@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&display=swap');

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    text-underline-style: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

#welcome {
    position: absolute;
    width: 100vw;
    vertical-align: center;
    top: 40vh;

    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 32px;
}

.project-number {
    position: relative;

    /*font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 0.75;*/
    font: normal normal bold 163px/204px Alata, sans-serif;
    color: #165F96;

    left: -28px;
    top: 45vh;
}

.slash {
    color: black;
}

#projects-container {
    position: relative;
    margin-top: 100vh;
}



.projects {
    position: relative;
    height: 100vh;
    width: 100vw;

}

.project-img-container {
    position: absolute;
    display: inline-block;
    left: calc(50% - 439px/2);
    vertical-align: center;

    transform: rotate(-23deg);
    transition: 0.3s;
}

.project-img-container:hover {
    transform: rotate(-10deg);
    transition: 0.3s;
}

.project-img {
    position: relative;
    width: 439px;
    height: 559px;
    background-color: #0BA1FF;
}

.project-info {
    position: relative;
    left: 15vw;
    top: 33vh;
    width: fit-content;
    text-align: center;
    font: normal normal 21px Alata, sans-serif;
}

#carousel {
    position: relative;
    display: inline-flex;

    padding-top: 200px;
    padding-bottom: 200px;
}

ul {
    display: inline-flex;
    list-style: none;
}

.carousel-projects {
    position: relative;
    width: 330px;
    height: 420px;
    margin: 73px;

    overflow: hidden;
    display: flex;
    text-align: center;

    transition: 0.3s;
}

.carousel-projects:hover {
    transform: rotate(-15deg);

    transition: 0.3s;
}

.carousel-img {
    position: absolute;
    object-fit: cover;
    height: 210%;
    top: -55%;
    left: -124%;
}