
#my-projects-circle {
    position: sticky;
    z-index: 15;
    width: 100px;
    left: 55px;
    top: 500px;

    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#my-projects-circle:hover {
    cursor: pointer;
}