#footer {
    display: inline-block;
    position: relative;
    overflow: hidden;

    width: calc(100vw - (2*91px));
    height: 55px;
    padding: 15px 91px;
    background-color: #464646;

    font-family: commuters-sans, sans-serif;
    font-style: normal;
    font-size: 21px;
    color: white;
}

#website-credits {
    position: relative;
    right: 0;
    text-align: right;
    vertical-align: center;
    transform: translate(0, -25%);
}

#credit {
    position: relative;
    float: left;
}

#footer-content {
    transform: translate(0, 40%);
    vertical-align: center;
}